<div class="body">
    <header>
        <div class="navbar">
            <div class="logo"><a href="#logo">Logo</a></div>
            <ul class="links">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Category</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Sign-In/Sign-up</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section id="hero">
            <h1>Welcome</h1>

        </section>
    </main>
</div>
