<div class="body">
    <header>
        <div class="navbar">
            <div class="logo"><a href="#logo">Logo</a></div>
            <ul class="links">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Category</a></li>
                <li><a href="">Contact</a></li>
                <li><button pButton type="button" label="Login" (click)="navigateToLogin()"></button>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <section id="hero">
            <div class="mainContainer">
                <div class="container">
                    <h2>Welcome to My website</h2>
                    <p>Do you want to explore m</p>
                    <p-button label="Warning" severity="warning"></p-button>
                </div>
                <div class="containerbutton">
    
                    <img src="../../assets/images/banner-removebg-preview.png" alt="">
                </div>
            </div>
            

        </section>
    </main>
</div>
