.body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    background-image: url(../../assets/images/studioBackground.jpg);
    opacity: .75;
    background-repeat: no-repeat;
    background-size: cover;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffff;
    font-weight: 500;
    font-size: 1rem;
}
a:hover{
    color: orange;
}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}

// heroSection
section#hero{
    
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
}
.mainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.containerbutton{
    margin-left: 300px;
    background-color: rgb(255, 220, 155);
    max-width: 800px;
   display: flex;
   
    
}
